body{
    width: 100%;
    height: 100vh;
}

html{
    font-size: 14px;
}


/*Error form style*/

.field-validation-error{
    color: #f00;
}

.field-validation-valid{
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid{
    display:none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Navbar style*/

.navbar-brand{
    color: black;
    font-size: 2.5em;
}

.navbar {
    background: #007bff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-cart{
    background-color: cyan;
    border-radius: 3px;
}

btn-cart > a{
    display: block;
}

/*Genre styles*/

.genre-btn {
    background-color: #6f42c1;
    word-wrap: break-word;
}

.genre-btn:first-child{
    margin-top: 10px;
}

.genre-btn:hover {
    background-color: #20c997;
}

.genre-btn-selected {
    background-color: #ffc107;
}

.order-message {
    text-align: center;
    margin-top: 20px;
}

.cart-Title{
    text-align: center;
}

.table {
    border-top: 1px solid gainsboro;    
}

.form-wrapper{
    text-align: center;
}