@using WebUI.Models
@model BooksListViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div>
    @foreach (var book in Model.Books)
    {
        <div>
            <h3>@book.Name</h3>
            <p>@book.Description</p>
            <i>@book.Price.ToString("# руб.")</i>
        </div>
        <hr />
    }
</div>
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { Page = x }));
</div>